<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.he.arc.p1.g5.fi5t" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Connection"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Users"
            android:label="@string/title_activity_users" >
        </activity>
        <activity
            android:name=".Parametre"
            android:label="@string/title_activity_parametre" >
        </activity>
        <activity
            android:name=".InfoFIST"
            android:label="@string/title_activity_info_fist" >
        </activity>
        <activity
            android:name=".POSTIT"
            android:label="@string/title_activity_postit" >
        </activity>
        <activity
            android:name=".Materiel"
            android:label="@string/title_activity_materiel" >
        </activity>
        <activity
            android:name=".MonProfil"
            android:label="@string/title_activity_mon_profil" >
        </activity>
    </application>

</manifest>
